# Database Configuration
# For local development (SQLite):
DATABASE_URL=sqlite:///./url_shortener.db
# For cloud production on Render / Supabase / Neon (PostgreSQL):
# DATABASE_URL=postgresql://username:password@hostname:5432/dbname

# Security
SECRET_KEY=your_super_secret_key_here_change_this
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend URL
BASE_URL=https://url-frontend-two.vercel.app
